$yellow-color: #F5FF00;

.header__nav, .footer__container {
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.header__nav-container {
    background-color: #E6E9EE;
}

.header__nav {
    &-brand {
            font-size: 24px;
        }
    & a {
        color: #16191E;
    }
    &-phone {
    color: $yellow-color;
    }
}

.header__nav-link a:hover {
    border: 1px solid $yellow-color;
    border-radius: 30px;
    background-color: $yellow-color;
}

.header__nav-phone:hover {
    border: 1px solid $yellow-color;
    border-radius: 30px;
    background-color: $yellow-color; 
}

footer {
    background-color: #E6E9EE;
    
}

.footer__nav-brand {
    & a {
        color: #16191E;
        font-size: 24px; 
    }      
}

.footer__nav-link {
    & a {
        color: #16191E;
    }
}