
//шрифт montserrat 200/300/400/500
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

.container__service {
    // width: 1440px;
    height: 100%;
    padding-left: 140px;
    padding-right: 140px;
    background: #E6E9EE;
}

.card__menu {
    display: grid;
    grid-template-columns: 4fr 1fr;
    // background-color: #f6d365;
}

.card__item {
    display: grid;
    grid-template-columns: 4fr 1fr;
    // padding: 5px;
    // margin-top: 5px;
}

.service__title {
    font-family: Montserrat;
    font-size: 500;
    text-transform: uppercase;
}

.service__title_item {
    font-family: Montserrat;
    font-size: 300;
}

.card__name {
    font-family: Montserrat;
    font-size: 200;
}

.card__price {
    justify-self: end;
}

//временные стили для ссылок-кнопок
.card__price {
    width: 65px;
    height: 20px;
    font-family: Montserrat;
    font-size: 500;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #090909;
    background: #F5FF00;
    border-radius: 30px;
}

//свернуть пункты с ценами
.slide div.service__list_manicure-top,
.slide [type="checkbox"]{
    display:none;
}

.slide [type="checkbox"]:checked ~ div.service__list_manicure-top {
    display:block;
}
