//переменные 
//для элементов
$btn-price-main: #F5FF00;
$btn-price-hover: #E8F01A;
$page-bg-white: #ffffff;
$page-bg-grey: #E6E9EE;
$card-title-bg: #16191E;
$card-body-bg:#E5EEF6;

//для текста
$default-font: "Montserrat",
Arial,
sans-serif;
$main-fsz: rem(16);

$main-text: #16191E;
$card-text:#83868c;
$attention-text:#F5FF00;

*{
    font-family: $default-font;
}

.block2{
    background: linear-gradient(to top, $page-bg-grey 20%, $page-bg-white 80%);
}
.service-list {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: 1fr;
    margin: 3rem 3rem 0;
}

.service-list_title {
    grid-column: 1/2;
    margin-bottom: 2em;
}

.service-list_pedicure {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-list_manicure {
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-list_subtitle {
    align-self: flex-start;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.service-list_text {
    align-self: flex-start;
    margin-left: 0.5rem;
}

.service-list_img {
    max-width: 450px;
}

.popup__open {
    margin-bottom: 1rem;
}