@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
/* Запись к мастеру */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}
.popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 600px;
  padding: 30px;
  background-color: #E5EEF6;
  color: #16191E;
  overflow-y: scroll;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #16191E;
  text-decoration: none;
  cursor: pointer;
}
.popup__open {
  background-color: #5FC369;
  border: none;
  padding: 18px 30px;
  cursor: pointer;
  color: #FFFFFF;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all;
}

.booking {
  /* width: 155px;
  height: 55px; */
  width: 400px;
  height: 70px;
  margin: 0.5em auto;
  border-radius: 30px;
  background-color: #F5FF00;
  border: 1px solid #F5FF00;
  color: #16191E;
  font-size: 1.5em;
  text-transform: uppercase;
}

.option {
  width: 400px;
  height: 70px;
  margin: 0.5em auto;
  border-radius: 30px;
  border-color: #F5FF00;
  text-align: center;
  font-size: 1.5em;
}

.master {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: start;
  align-items: center;
  width: 400px;
  height: 100px;
  margin: 0.5em auto;
  border-radius: 30px;
  border-color: #E6E9EE;
  background-color: #ffffff;
}

.ava {
  grid-column: 1/2;
  justify-self: center;
  max-height: 80px;
  border-radius: 50%;
}

.text {
  grid-column: 2/3;
}

.type {
  display: flex;
  /* align-items: center; */
  width: 400px;
  height: 50px;
  margin: 0.5em auto;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #E6E9EE;
  font-size: 1.5em;
}
.type_name {
  text-align: center;
  margin: 0.2em auto;
}

.input {
  width: 400px;
  height: 50px;
  margin: 0.5em auto;
  border-radius: 10px;
  border: 2px solid #E6E9EE;
}

.services-prices {
  background-color: #E6E9EE;
}
.services-prices__title {
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 52px;
  font-weight: 400;
  color: #16191E;
  padding-top: 120px;
  margin-bottom: 50px;
}
.services-prices__content {
  width: 100%;
  height: 600px;
  background: white;
}
.services-prices__content_flex {
  display: flex;
  padding: 35px;
}
.services-prices__calculator {
  width: 50%;
}
.services-prices__img {
  width: 50%;
  height: 300px;
  max-height: 530px;
  background-color: #d8b9b9;
}

.calculator {
  padding-left: 2rem;
}
.calculator__title {
  font-size: 30px;
  font-weight: 400;
  color: #16191E;
}
.calculator__box {
  border: 1px solid red;
}

body {
  min-width: 320px;
  font-weight: 400;
  font-family: "Montserrat", Arial, sans-serif;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content-container {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  max-width: 100%;
}

/* Услуги и цены */
.container__service {
  height: 100%;
  padding-left: 140px;
  padding-right: 140px;
  background: #E6E9EE;
}

.card__menu {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.card__item {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.service__title {
  background-image: url(/assets/images/line_services_title.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  padding-left: 10px;
}

.service__title span {
  display: inline;
  background-color: white;
  box-shadow: -10px 0 0 white, 10px 0 0 white;
  padding: 10px 0;
  color: #191919;
  border-radius: 50px;
}

.service__title_item {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.2rem;
}

.card__name {
  font-family: Montserrat;
  font-weight: 400;
  padding: 15px;
  color: #83868c;
}

.card__line {
  width: 124%;
}

.card__price {
  width: 75px;
  height: 0.2px;
  font-family: Montserrat;
  font-size: 500;
  font-weight: 300;
  line-height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #090909;
  background: #F5FF00;
  border-radius: 30px;
  padding: 20px;
}

.text_note {
  font-family: Montserrat;
  font-size: 0.8rem;
  font-weight: 200;
}

.accordion {
  padding: 0.5%;
}

.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
}

.accordion__item_show .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__item {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  color: rgb(229, 238, 246);
  font-weight: 500;
  background-color: #83868c;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.accordion__item_hidden .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__body {
  padding: 0.75rem 1rem;
  overflow: hidden;
  background: rgb(229, 238, 246);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.slide div.close__all,
.slide [type=checkbox] {
  display: none;
}

.slide [type=checkbox]:checked ~ div.close__all {
  display: block;
}

.slide_text {
  font-family: Montserrat;
  font-size: 15px;
  text-transform: uppercase;
}

/* футер и хедер */
.header__nav, .footer__container {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.header__nav-container {
  background-color: #E6E9EE;
}

.header__nav-brand {
  font-size: 24px;
}
.header__nav a {
  color: #16191E;
}
.header__nav-phone {
  color: #F5FF00;
}

.header__nav-brand:hover {
  color: #16191E;
}

.header__nav-link a:hover {
  border: 1px solid #F5FF00;
  border-radius: 30px;
  background-color: #F5FF00;
  color: #16191E;
}

.header__nav-phone:hover {
  border: 1px solid #F5FF00;
  border-radius: 30px;
  background-color: #F5FF00;
  color: #16191E;
}

footer {
  background-color: #E6E9EE;
}

.footer__nav-brand a {
  color: #16191E;
  font-size: 24px;
}

.footer__nav-link a {
  color: #16191E;
}

.footer__container a:hover {
  color: #16191E;
}

.slider {
  margin: 100px;
  padding: 50px;
}

.item {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  color: #16191E;
}

.item_col {
  align-self: center;
  text-align: center;
}

.btn {
  padding: 10px;
  background-color: #E8F01A;
  color: #E8F01A;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #E8F01A;
  transition: 0.5s;
}

.slider .item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 400px;
}

.previous, .next {
  align-self: center;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */