@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
/* Запись к мастеру */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
  overflow-y: scroll;
}
.popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 700px;
  padding: 2rem 4rem;
  background-color: #e5eef6;
  color: #16191e;
}
.popup__close {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  font-size: 2em;
  color: #16191e;
  text-decoration: none;
  cursor: pointer;
}
.popup__close:focus, .popup__close:hover {
  text-decoration: none;
}
.popup__open {
  padding: 1.1rem 2rem;
  background-color: #5fc369;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all;
}

.confirm {
  min-width: 400px;
  min-height: 50px;
  margin: 0.5em auto;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #f5ff00;
  border: 1px solid #f5ff00;
  color: #16191e;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
}
.confirm:focus, .confirm:hover {
  text-decoration: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin-top: 0.8rem;
  border-radius: 2rem;
}
.item_username, .item_userphone, .item_master {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.1em;
}
.item__type, .item__date, .item__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #f5ff00;
}
.item .item__type {
  font-size: 1.1em;
}

/* Выбор услуги */
.choose_type {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 600px;
  margin-top: 1rem;
  border-radius: 2rem;
}

.type {
  display: flex;
}

input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}

/* Выбор мастера */
.input,
.choose_master {
  min-width: 250px;
  min-height: 50px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #e6e9ee;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset;
}

.option {
  min-width: 400px;
  min-height: 70px;
  margin: 0.5em auto;
  border-radius: 2rem;
  border-color: #f5ff00;
  text-align: center;
  font-size: 1em;
}

/* Дата */
.week-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.day_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

p {
  margin: 0.5rem;
}

/* Время */
.choose_time {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.time {
  min-width: 80px;
  min-height: 30px;
  margin: 0.7rem;
  border-radius: 2rem;
  background-color: #ffffff;
  border: 1px solid #83868c;
  text-align: center;
  font-size: 1em;
}

.selected {
  background-color: #f5ff00;
}

/* Подтверждение записи */
.confirmation {
  padding: 2rem;
  font-size: 1.2em;
  border-radius: 2rem;
  border: 2px solid #f5ff00;
  background-color: #ffffff;
}

/* медиа запросы блок 3 */
@media screen and (max-width: 767px) {
  .popup__content {
    max-width: 600px;
  }
  .item {
    max-width: 400px;
  }
}
@media screen and (max-width: 575px) {
  .popup__content {
    max-width: 400px;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
  }
  .item {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .item_username, .item_userphone, .item_master {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .choose_type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-width: 320px;
    margin-top: 0.5rem;
    margin-left: 2rem;
    border-radius: 2rem;
  }
  .choose_time {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .week-box {
    flex-wrap: wrap;
  }
  .day_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  p {
    display: none;
  }
  .time {
    min-width: 70px;
    min-height: 30px;
    margin: 0.5rem;
    font-size: 1em;
  }
  .confirm {
    min-width: 200px;
    min-height: 50px;
  }
  .confirmation {
    min-width: 80%;
    padding: 1rem;
    font-size: 1em;
    line-height: 1.2em;
  }
}
.block2 {
  background: linear-gradient(to top, #e6e9ee 20%, #ffffff 80%);
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 3rem;
  margin-right: 3rem;
}
.service-list_title {
  grid-column: 1/2;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 400;
}
.service-list_pedicure {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-list_manicure {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-list_subtitle {
  align-self: flex-start;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.service-list_text {
  align-self: flex-start;
}

.popup__open {
  margin-bottom: 1rem;
}

/* медиа запросы блок 2 */
@media screen and (max-width: 1023px) {
  .service-list_img {
    max-width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .service-list_img {
    max-width: 180px;
  }
}
@media screen and (max-width: 575px) {
  .service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem 0;
  }
  .service-list_title {
    margin-bottom: 0.5em;
    font-size: 1.8em;
  }
  .service-list_subtitle {
    align-self: center;
  }
  .service-list_text {
    font-size: 0.8em;
  }
  .service-list_pedicure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service-list_manicure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service-list_img {
    max-width: 200px;
  }
}
.services-prices {
  background-color: #e6e9ee;
}
.services-prices span {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 30px;
}
.services-prices__title {
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #16191e;
  padding-top: 120px;
  margin-bottom: 50px;
}
.services-prices__content {
  width: 100%;
  background: white;
}
.services-prices__content_flex {
  display: flex;
  padding: 2rem;
}
.services-prices__calc {
  width: 50%;
}
.services-prices__calc p {
  margin-left: 0;
  font-size: 1.2rem;
}

.calc {
  padding-left: 2rem;
}
.calc__title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #16191e;
}
.calc__box a {
  display: inline-block;
  margin: 0 auto;
}
.calc__flex {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .services-prices__title {
    font-size: 1.8rem;
  }
  .services-prices__img {
    display: none;
  }
  .services-prices__title {
    font-size: 1.5rem;
    margin-left: 0;
    padding-top: 3rem;
  }
  .calc {
    width: 70%;
    margin: 0 auto;
    padding-left: 0;
  }
}
/* Услуги и цены */
.container__price {
  padding-top: 7rem;
  padding-bottom: 1.6rem;
  padding-left: 140px;
  padding-right: 140px;
  background: #e6e9ee;
}

.container__price-header {
  padding-left: 0.8rem;
}

.container__price-header span {
  display: inline;
  background-color: white;
  box-shadow: -10px 0 0 white, 10px 0 0 white;
  padding: 5px 0;
  color: #191919;
  border-radius: 50px;
  font-weight: 300;
}

.price-service {
  padding-top: 1rem;
}

.card__menu {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.card__item {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.service__title {
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #000;
  padding-left: 10px;
}

.service__title span {
  display: inline;
  background-color: white;
  box-shadow: -10px 0 0 white, 10px 0 0 white;
  padding: 5px 0;
  color: #191919;
  border-radius: 50px;
}

.service__title_item {
  padding-top: 0.6rem;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.2rem;
}

.card__name {
  font-family: Montserrat;
  font-weight: 400;
  padding: 15px;
  color: #83868c;
}

.card__line {
  width: 124%;
}

.card__price {
  min-width: 75px;
  height: 0.2px;
  font-family: Montserrat;
  font-size: 500;
  font-weight: 300;
  line-height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #090909;
  background: #f5ff00;
  border-radius: 30px;
  padding: 20px;
}

.text_note {
  font-family: Montserrat;
  font-size: 0.8rem;
  font-weight: 200;
}

.accordion {
  padding: 0.5%;
}

.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
}

.accordion__item_show .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__item {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  color: rgb(229, 238, 246);
  font-weight: 500;
  background-color: #83868c;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.accordion__item_hidden .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__body {
  padding: 0.75rem 1rem;
  overflow: hidden;
  background: rgb(229, 238, 246);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.slide div.close__all,
.slide [type=checkbox] {
  display: none;
}

.slide [type=checkbox]:checked ~ div.close__all {
  display: block;
}

.slide_text {
  padding: 1rem;
  font-family: Montserrat;
  font-size: 1.3em;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .slide_text {
    font-size: 1.1em;
  }
  .service__title_item {
    font-size: 0.95rem;
  }
  .accordion__header {
    padding: 0.5rem 0.8rem;
  }
  .service__title {
    font-size: 0.9rem;
  }
  .service__title span {
    padding: 5px 0;
  }
  .card__name {
    font-size: 0.8em;
  }
  .card__price {
    min-width: 85px;
    font-size: 0.8em;
    border-radius: 30px;
    padding: 12px;
    margin-top: 15px;
  }
  .text_note {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 767px) {
  .slide_text {
    font-size: 1em;
  }
  .service__title_item {
    font-size: 0.8rem;
  }
  .accordion__header {
    padding: 0.3rem 0.6rem;
  }
  .service__title {
    font-size: 0.7rem;
  }
  .service__title span {
    padding: 5px 0;
  }
  .card__name {
    font-size: 0.8em;
  }
  .card__price {
    min-width: 75px;
    font-size: 0.6em;
    border-radius: 30px;
    padding: 12px;
    margin-top: 15px;
  }
  .text_note {
    font-size: 0.5rem;
  }
}
.container__gift-certificates {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 1rem;
  grid-template-areas: "text sertificate1 sertificate2" "sertificate3 sertificate4 sertificate5";
}

.gift-certificates_header {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

.gift-certificates_text {
  font-weight: 300;
  font-size: 1.2em;
}

.text {
  justify-self: center;
  align-self: center;
  grid-area: text;
}

.sertificate1 {
  background-image: url("/src/images/certificates_bckgrnd.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.sertificate2 {
  background-image: url("/src/images/certificates_bckgrnd.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.sertificate3 {
  background-image: url("/src/images/certificates_bckgrnd.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.sertificate4 {
  background-image: url("/src/images/certificates_bckgrnd.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.sertificate5 {
  background-image: url("/src/images/certificates_bckgrnd.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.sertificate_text {
  margin: 0 auto;
  display: flex;
  width: 50%;
  font-weight: 500;
  font-size: 1.6em;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .gift-certificates_header {
    font-size: 1.8em;
  }
  .gift-certificates_text {
    font-size: 1em;
  }
  .sertificate_text {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 767px) {
  .container__gift-certificates {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem 0.5rem;
    grid-template-areas: "text sertificate1" "sertificate2 sertificate3" "sertificate4 sertificate5";
  }
  .gift-certificates_header {
    font-size: 1.5em;
  }
  .gift-certificates_text {
    font-size: 0.7em;
  }
  .sertificate_text {
    font-size: 1em;
  }
}
.banner__container {
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #e6e9ee;
  padding-left: 100px;
}
.banner__container h1 {
  font-size: 50px;
  margin: 60px 0;
}
.banner__container .banner__btns-price {
  background-color: #e6e9ee;
  border: 2px solid #f5ff00;
  color: #16191e;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  margin-left: 20px;
}

.banner__right-container {
  width: 55%;
  padding-bottom: 5rem;
}

.banner__left-container {
  width: 35%;
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  .banner__container {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-top: 3rem;
  }
  .banner__container h1 {
    font-size: 2rem;
    margin: 2rem 0;
  }
  .banner__left-container {
    width: 80%;
    margin-bottom: 2rem;
    padding-top: 0;
  }
  .banner__right-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
.contacts {
  font-family: "Montserrat", Arial, sans-serif;
}
.contacts__title {
  text-align: center;
  margin: 0 auto;
  font-size: 52px;
  font-weight: 400;
  color: #16191e;
  padding-top: 105px;
  margin-bottom: 50px;
}
.contacts__flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.contacts__text {
  width: 30%;
  font-size: 1.2rem;
}
.contacts__text p {
  margin: 0 0 1rem 0;
}
.contacts__text a {
  display: inline-block;
  font-size: 1rem;
  color: #16191e;
  padding-top: 1rem;
}
.contacts__map {
  width: 70%;
  height: 415px;
}

@media screen and (max-width: 1023px) {
  .contacts__title {
    font-size: 1.8em;
  }
  .contacts__text {
    font-size: 1em;
  }
}
@media screen and (max-width: 767px) {
  .contacts__flex {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 3rem;
  }
  .contacts__title {
    padding-top: 3rem;
  }
  .contacts__text {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .contacts__text p {
    margin: 0 0 0.5rem 0;
  }
  .contacts__text a {
    padding-top: 0.5rem;
  }
  .contacts__map {
    width: 100%;
    height: 300px;
  }
}
/* кастомизированный чекбокс */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #83868c;
  border-radius: 0.25em;
  margin-right: 0.5em;
}

.custom-checkbox:checked + label::before {
  border-color: #83868c;
  background-color: #f5ff00;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #16191e;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: rgba(128, 128, 128, 0.5);
  border-color: rgba(128, 128, 128, 0.5);
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.today_style {
  font-weight: 700;
}

* {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
}

body {
  min-width: 320px;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content-container {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  .content-container {
    width: 80%;
  }
}

img {
  max-width: 100%;
}

.header__nav-container {
  background-color: #e6e9ee;
}

.header__nav-brand {
  font-size: 24px;
  font-weight: 300;
}
.header__nav a {
  color: #16191e;
}
.header__nav-phone {
  color: #f5ff00;
}

.header__nav-brand:hover {
  color: #16191e;
}

.header__nav-link a:hover {
  border: 1px solid #f5ff00;
  border-radius: 30px;
  background-color: #f5ff00;
  color: #16191e;
}

.header__nav-phone:hover {
  border: 1px solid #f5ff00;
  border-radius: 30px;
  background-color: #f5ff00;
  color: #16191e;
}

footer {
  background-color: #e6e9ee;
}

.footer__nav-brand a {
  color: #16191e;
  font-size: 24px;
}

.footer__nav-link a {
  color: #16191e;
}

.footer__container a:hover {
  color: #16191e;
}

.slider {
  margin: 0px 100px;
  padding: 50px;
}

.slider__container {
  background-color: #e6e9ee;
  padding-top: 50px;
}
.slider__container h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.item {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  color: #16191e;
}

.item_col {
  align-self: center;
  text-align: center;
}

.popup__open {
  padding: 10px;
  background-color: #e8f01a;
  color: #16191e;
  border-radius: 15px;
  cursor: pointer;
}

.popup__open:hover {
  background-color: #e8f01a;
  transition: 0.5s;
  text-decoration: none;
}

#slider__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60%;
  height: 400px;
  margin: 0px 50px;
}

.previous,
.next {
  align-self: center;
  cursor: pointer;
}

.arrow_mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-left: 0;
  }
  .slider__container h2 {
    font-size: 1.8rem;
  }
  .slider__container h3 {
    font-size: 1.5rem;
  }
  .slider_item {
    flex-direction: column-reverse;
  }
  #slider__img {
    width: 100%;
    height: 80%;
    padding: 10px;
    margin: 0;
  }
  .previous,
.next {
    display: none;
  }
  .arrow_mobile {
    display: flex;
    justify-content: space-around;
  }
  .previous_mobile,
.next_mobile {
    align-self: center;
    cursor: pointer;
    transition: 0.5s;
    color: blue;
  }
}
.slider .item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 400px;
}

.previous,
.next {
  align-self: center;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */