$white: #ffffff;
$grey: #E6E9EE;
$grey-dark: #16191E;
$yellow: #F5FF00;
$color-hover: #E8F01A;

$default-font: "Montserrat", Arial, sans-serif;
$main-font-size: rem(16);


body {
    min-width: 320px;
    font-weight: 400;
    font-family: $default-font;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content-container {
    max-width: 1160px;
    margin: 0px auto;
}

img {
    max-width: 100%; //делает изображения адаптивными
}



